extends ./templates/_layout

block variables
  -
    //- var styles = requireCss('./sample.css');
    var styles = require('./sample.css');

block content
  div
    p test!
    p= JSON.stringify(styles)
